.friend__list {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 - 11px));
  align-items: center;
  gap: 15px;
  .friend__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F0F0F;
    padding: 20px 30px;

    &--btnClose {
      cursor: pointer;
      width: 40px;
      text-align: right;
    }
    
    &--gift {
      position: absolute;
      top: -35px;
      right: 15%;
    }
    
    &--avatar {
      position: relative;
      text-align: left;
      width: 75px;
      display: flex;
      align-items: center;
      img {
        max-width: 100%;
      }
    }

    &--info {
      position: relative;
      text-align: left;
      width: 100%;
      padding-left: 30px;
      p {
        line-height: 18px !important;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: calc(100%);
    .friend__box {
      padding: 20px;
    }
  }
}
.bag__history {
  border: solid 1px #fff;
  padding: 0 !important;
  background-color: #000;
  .titleHotItem {
    color: #FF2423;
    padding: 20px 0 20px 20px;
  }

  ul.hot_item__ul {
    border: 0;
    height: 400px;
    overflow-y: auto;
  }

  li.hot_item__li {
    padding: 15px;
    &:nth-child(2n+1) {
      background-color: #252525;
    }
    &:nth-child(even) {
      background: transparent;
    }
  }
}


