.friend__list {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 - 11px));
  align-items: center;
  gap: 15px;
  .friend__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 20px 30px;

    &--btnClose {
      cursor: pointer;
      width: 40px;
      text-align: right;
    }

    &--gift {
      position: absolute;
      top: -35px;
      right: 15%;
    }

    &--avatar {
      position: relative;
      text-align: left;
      width: 75px;
      display: flex;
      align-items: center;
      img {
        max-width: 100%;
      }
    }

    &--info {
      position: relative;
      text-align: left;
      width: 100%;
      padding-left: 30px;
      p {
        line-height: 18px !important;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: calc(100%);
    .friend__box {
      padding: 20px;
    }
  }
}
.bag__history {
  border: solid 1px #fff;
  padding: 0 !important;
  background-color: #000;
  .titleHotItem {
    color: #ff2423;
    padding: 20px 0 20px 20px;
  }

  ul.hot_item__ul {
    border: 0;
    height: 400px;
    overflow-y: auto;
  }

  li.hot_item__li {
    padding: 15px;
    &:nth-child(2n + 1) {
      background-color: #252525;
    }
    &:nth-child(even) {
      background: transparent;
    }
  }
}

.activity__grid {
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 20px;
  background: #18181b;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .activity__grid--left {
    border-right: solid 1px #fff;
    p {
      display: flex;
      align-items: center;
      padding-bottom: 5px;
      svg {
        margin-right: 5px;
      }
      span {
        display: flex;
        align-items: center;
      }
    }
    ul {
      color: #fff;
      li {
        cursor: pointer;
        padding: 5px 0 5px 30px;
        border-top: solid 1px #fff;
        margin-right: 10px;
        &:hover {
          color: red;
        }
        &:last-child {
          border-bottom: solid 1px #fff;
        }
        &:first-child {
          margin-right: 0;
        }
        &.active {
          color: red;
          pointer-events: none;
        }
      }
    }
  }
  .activity__grid--right {
    & > * {
      margin-bottom: 30px;
    }
    .activity__diary {
      .activity__diary--list {
        li {
          display: grid;
          background: #000;
          margin-bottom: 10px;
          padding: 5px 0;
          grid-template-columns: 50px calc(100% - 50px);
          align-items: center;
          justify-content: center;
          svg {
            margin: auto;
          }
        }
      }
      .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1.5rem 0;

        .pagination__container {
          display: flex;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          padding: 0.5rem 0;
          .pagination__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e88f08;
            border-radius: 9999px;
            width: 2.25rem;
            height: 2.25rem;
            svg {
              font-size: 13px;
              margin: 0;
              padding: 0;
            }
            &:hover {
              background-color: #fff;
              border-color: #fff;
              color: #e88f08;
            }
            &:disabled {
              background-color: #6b7280;
              border: none;
              pointer-events: none;
            }
          }
          .pagination__pages {
            display: flex;
            margin: 0 0.5rem;
            .pagination__page {
              width: 2.25rem;
              height: 2.25rem;
              border-radius: 9999px;
              margin: 0 0.5rem;
              &:hover {
                border: 1px solid #fff;
              }
              &:disabled {
                pointer-events: none;
              }
              &.active {
                border: 1px solid #e88f08;
                color: #ffbd59;
                pointer-events: none;
              }
            }
          }
        }
      }
      .get__point__history {
        width: 50%;
        border: 1px solid #fff;
        color: #fff;

        h3 {
          margin: 10px;
        }

        .scroll__style {
          overflow-y: scroll;
          height: 500px;

          &::-webkit-scrollbar {
            width: 7px;
          }

          &::-webkit-scrollbar-track {
            background-color: #fff;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #000;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
          }
        }

        .get__point__grid {
          color: #fff;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, minmax(0, 1fr));
          align-items: center;
          &.get__point__header {
            width: 100%;
            background-color: #ff2423;
            padding-left: 5px;
            p {
              font-weight: bold;
            }
          }
          &.gray {
            background-color: #252525;
          }

          p {
            padding: 16px;
            &.right {
              text-align: right;
            }
            &.center {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.exchange__gifts {
  .get__table {
    width: 100%;
    color: #fff;
    h3 {
      color: #ff2423;
      margin: 10px;
    }
    .table__container {
      border-top: 2px solid #919192;
      padding-top: 4px;
      overflow: hidden;
      table {
        color: #fff;
        width: 100%;
        thead {
          background-color: #ff2423;
          padding-left: 5px;
          & > tr > th {
            font-weight: bold;
          }
        }
        & > * > tr {
          border: none;
          th {
            color: #fff;
          }
          td {
            padding: 16px;
            color: #fff;
            border-left: 1px solid #4c4c4c;
            &:first-child {
              border: none;
            }
            &.right {
              text-align: right;
            }
            &.center {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;

    .pagination__container {
      display: flex;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 0.5rem 0;
      .pagination__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e88f08;
        border-radius: 9999px;
        width: 2.25rem;
        height: 2.25rem;
        svg {
          font-size: 13px;
          margin: 0;
          padding: 0;
        }
        &:hover {
          background-color: #fff;
          border-color: #fff;
          color: #e88f08;
        }
        &:disabled {
          background-color: #6b7280;
          border: none;
          pointer-events: none;
        }
      }
      .pagination__pages {
        display: flex;
        margin: 0 0.5rem;
        .pagination__page {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 9999px;
          margin: 0 0.5rem;
          &:hover {
            border: 1px solid #fff;
          }
          &:disabled {
            pointer-events: none;
          }
          &.active {
            border: 1px solid #e88f08;
            color: #ffbd59;
            pointer-events: none;
          }
        }
      }
    }
  }
}

.rotation__history {
  .get__table {
    width: 100%;
    color: #fff;
    h3 {
      color: #ff2423;
      margin: 10px;
    }
    .table__container {
      border-top: 2px solid #919192;
      padding-top: 4px;
      overflow: hidden;
      table {
        color: #fff;
        width: 100%;
        thead {
          background-color: #ff2423;
          padding-left: 5px;
          & > tr > th {
            font-weight: bold;
          }
        }
        tbody {
          border: none;
        }
        & > * > tr {
          border: none;
          th {
            color: #fff;
          }
          td {
            padding: 16px;
            color: #fff;
            border-left: 1px solid #4c4c4c;
            &:first-child {
              border: none;
            }
            &.right {
              text-align: right;
            }
            &.center {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem 0;
    .pagination__container {
      display: flex;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding: 0.5rem 0;
      .pagination__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e88f08;
        border-radius: 9999px;
        width: 2.25rem;
        height: 2.25rem;
        svg {
          font-size: 13px;
          margin: 0;
          padding: 0;
        }
        &:hover {
          background-color: #fff;
          border-color: #fff;
          color: #e88f08;
        }
        &:disabled {
          background-color: #6b7280;
          border: none;
          pointer-events: none;
        }
      }
      .pagination__pages {
        display: flex;
        margin: 0 0.5rem;
        .pagination__page {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 9999px;
          margin: 0 0.5rem;
          &:hover {
            border: 1px solid #fff;
          }
          &:disabled {
            pointer-events: none;
          }
          &.active {
            border: 1px solid #e88f08;
            color: #ffbd59;
            pointer-events: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .activity__grid {
    grid-template-columns: 100%;
    .activity__grid--left {
      p {
        justify-content: space-between;
        width: 100%;
        color: #fff;

        .icon {
          color: #fff;
          &.show__arrow {
            text-align: right;
            &.hidden__arrow {
              font-size: 13px;
              margin-right: 10px;
            }
          }
        }

        &.active {
          color: #ff2423;
          .icon {
            color: #ff2423;
          }
        }
      }

      border-right: none;
      .activity__list {
        &.hidden {
          display: none;
        }
      }
    }
    .activity__grid--right {
      .activity__diary {
        .get__point__history {
          width: 100%;
          p {
            font-size: 14px;
          }
        }
      }
      .rotation__history {
        .get__table {
          td,
          th {
            font-size: 14px;
          }
        }
      }
      .exchange__gifts {
        .get__table {
          td,
          th {
            font-size: 14px;
          }
        }
      }
    }
  }
}
