.check__in{
  &--week  {
    display: flex;
  }
  &--first {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 447px);
  }
  &--last {
    width: 447px;
    text-align: center;
    .check__in--item {
      padding-bottom: 40px;
      width: 100%;
    }
  }

  &--item {
    width: calc(33% - 10px);
    border: solid 1px #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    img {
      border-radius: 5px;
      max-width: 100%;
      margin: auto;
    }
  }

  &--month {
    display: flex;
    text-align: center;
  }
  &--monthItem {
    position: relative;
    img {
      border-radius:50%;
      border: solid 2px #FF2423;
      margin: auto;
    }
    .checked {
      display: none;
    }
    &.active {
      .checked {
        position: absolute;
        width: 120px;
        height: 100px;
        left: 50%;
        bottom: 75px;
        transform: translateX(-50%);
        display: block;
        border: 0;
        border-radius: 0;
      }
      img.image {
        filter: grayscale(1)
      }
    }
  }

  @media (max-width: 768px) {
    &--week  {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--first {
      width: 100%;
    }
    &--last {
      width: 100%;
    }
    &--item {
      width: calc(50% - 5px);
      margin-right: 5px;
      margin-bottom: 5px;
      &:nth-child(2n) {
        margin-right:0;
      }
    }
    &--month {
      flex-wrap: wrap;
    }
    &--monthItem {
      width: 33%;
      &.active {
        .checked {
          width: 55px;
          height: 45px;
          left: 50%;
          bottom: 40px;
        }
      }
    }
  }
}