.spingame__item--img-active {
  background: linear-gradient(360deg, #ff2423 0%, rgba(0, 0, 0, 0) 99.2%)!important;
}

.btn___spingame--group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css__btn__spingame {
  border: solid 1px #ff2423 !important;
  background-color: transparent !important;
  color: #fff !important;
  position: relative !important;
  margin: 0 10px !important;
  width: 206px !important;
  height: 46px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 23px !important;
  letter-spacing: -0.01em !important;
  text-align: center !important;
  @media (max-width: 768px) {
    font-size: 13px !important;
    // height: 92px !important;
    width: 110px !important;
  }
}
.spingame__item {
  box-sizing: border-box !important;
  background: #0f0f0f ;
  border: 1px solid #ffffff !important;
  border-radius: 10px !important;
}

.spingame__item--img {
  object-fit: contain;
  width: 172.93px !important;
  height: 176.72px !important;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 8% !important;
}

.spingame__item--title {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  text-align: center !important;
  letter-spacing: -0.01em !important;
  color: #ffffff !important;
  text-align: center !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-line-clamp: 2 !important;
  height: 40px !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.mb-150 {
  margin-bottom: 150px !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: #fff !important;
}

.modal__gift .Toastify__toast-container--top-right {
  top: 28em;
  right: 30em;
  @media (max-width: 768px) {
    top: 32em;
    right: 43em;
  }
}

.rules__block--image {
  object-fit: contain;
  width: 100% !important;
  height: auto;
}

.btn___spingame__rules--group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.css__btn__rules {
  border: solid 1px #ff2423 !important;
  background-color: transparent !important;
  color: #fff !important;
  position: relative;
  margin: 0 10px !important;
  width: 206px !important;
  height: 46px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 23px !important;
  letter-spacing: -0.01em !important;
  text-align: center !important;
  @media (max-width: 768px) {
    font-size: 16px !important;
    // height: 92px !important;
    // width: 110px !important;
  }
}

.modal__rules__titleBox {
  background: #ff2423 !important;
}

.modal__rules__titleBox--title {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 38px !important;
  text-align: center !important;
  letter-spacing: -0.01em !important;
  color: #ffffff !important;
  padding: 10px 0 !important;
}

.modal__rules__spingame {
  text-align: center;
  @media (max-width: 768px) {
    max-width: 375px;
    .modal__youtube--btn-close {
      display: none;
    }
  }
  @media (max-width: 375px) {
    max-width: 350px;
  }
}
.p-0 {
  padding: 0 !important;
}

.main__title {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 48px !important;
  line-height: 56px !important;
  text-align: center !important;
  letter-spacing: -0.01em !important;

  color: #ffffff !important;
}

.luckywheel__transactionTurn__title {
  margin: 30px 0 !important;
}

.custom__modal__rules__spingame{
  @media (max-width: 768px) {
    max-width: 375px;
  }
}