.first-block {
  padding: 0 10% !important;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.second-block {
  padding: 0 10% !important;
  display: flex;
  justify-content: space-between;
}

.bgCenterNavbar {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.logoFU {
  position: absolute;
  margin-top: 3%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.MuiDrawer-root {
  .MuiDrawer-paper {
    background-color: #000;
    color: #fff;
  }
}
.navbar__listNav--title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.01em;
  text-align: left;
}
.navbar__listNav {
  padding: 5%;
  margin: 0 5%;
  border-bottom: 0.6px solid #8b8b8b;
}
@media (max-width: 1343px) {
  .navbar--mobile {
    display: inline !important;
  }
  .navbar--desktop {
    display: none !important;
  }
  .MuiDrawer-paper {
    display: inline !important;
  }
  .css-1o5pq7n {
    display: none !important;
  }
}
@media (min-width: 1343px) {
  .navbar--mobile {
    display: none !important;
  }
  .navbar--desktop {
    display: inline !important;
  }
  .MuiDrawer-paper {
    display: none !important;
  }
  .css-1o5pq7n {
    display: none !important;
  }
}
.second-block .p-7 {
  padding: 12px !important;
}

.first-block .p-7 {
  padding: 8px !important;
}

.header__text {
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 23px !important;
  letter-spacing: -0.01em !important;
  text-decoration: none !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hover__btn::after {
  content: '' !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 0 !important;
}

.hover__btn::before {
  content: '' !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 0 !important;
}

.hover__btn:hover::after {
  opacity: 1 !important;
}

.hover__btn:hover::before {
  opacity: 1 !important;
}

.active__header::after {
  content: '' !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}
.active__header::before {
  content: '' !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}

.active__header__b2::after {
  content: '' !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}
.active__header__b2::before {
  content: '' !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}

.hover__btn2::after {
  content: '' !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 0 !important;
}

.hover__btn2::before {
  content: '' !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 0 !important;
}

.hover__btn2:hover::after {
  opacity: 1 !important;
}

.hover__btn2:hover::before {
  opacity: 1 !important;
}

.menu--header {
  .MuiList-root{
    background: #19181C;
    padding: 10px;
    text-align: center;
  }

  .menu--item {
    border-bottom: solid 1px #8B8B8B;
    cursor: pointer;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    background: transparent;
    &:hover {
      background: #FF2423;
    }
  }
}
