.first-block {
  padding: 0 10% !important;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.second-block {
  padding: 0 10% !important;
  display: flex;
  justify-content: space-between;
}

.bgCenterNavbar {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.logoFU {
  position: absolute;
  margin-top: 3%;
  left: 52%;
  transform: translate(-50%, -50%);
}

.drawer__header {
  z-index: 1200;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
  align-items: center;
  .hamburder__icon__btn {
    width: fit-content;
    padding: 0;
    .hamburder__icon {
      color: #fff;
      font-size: 40px;
    }
  }
  .drawer__login__btn {
    background-color: #ff2423;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 8px 20px;
    height: fit-content;
  }
}

.drawer__links {
  display: flex;
  flex-direction: column;
  padding: 20px 10vw;
  background-color: #000;
  color: #fff;
  .drawer__link {
    display: block;
    border-bottom: 0.6px solid #8b8b8b;
    padding: 5px 0;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      color: #ff2423;
    }
    &.active {
      color: #ff2423;
      pointer-events: none;
    }
    &.drawler__menu {
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &:last-child {
      border-bottom: unset;
    }
  }
  .drawler__menu__lists {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    .drawer__link {
      font-weight: unset;
      text-transform: unset;
      &:last-child {
        border-bottom: 0.6px solid #8b8b8b !important;
      }
    }
  }
}

@media (max-width: 1343px) {
  .navbar--mobile {
    display: inline !important;
  }
  .navbar--desktop {
    display: none !important;
  }
  .css-1o5pq7n {
    display: none !important;
  }
}
@media (min-width: 1343px) {
  .navbar--mobile {
    display: none !important;
  }
  .navbar--desktop {
    display: inline !important;
  }
  .css-1o5pq7n {
    display: none !important;
  }
}
.second-block .p-7 {
  padding: 12px !important;
}

.first-block .p-7 {
  padding: 8px !important;
}

.header__text {
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 23px !important;
  letter-spacing: -0.01em !important;
  text-decoration: none !important;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hover__btn::after {
  content: "" !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 0 !important;
}

.hover__btn::before {
  content: "" !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 0 !important;
}

.hover__btn:hover::after {
  opacity: 1 !important;
}

.hover__btn:hover::before {
  opacity: 1 !important;
}

.active__header::after {
  content: "" !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}
.active__header::before {
  content: "" !important;
  position: absolute !important;
  bottom: 20px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}

.active__header__b2::after {
  content: "" !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}
.active__header__b2::before {
  content: "" !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}

.hover__btn2::after {
  content: "" !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 13px !important;
  width: 50px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 5px !important;
  opacity: 0 !important;
}

.hover__btn2::before {
  content: "" !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 70px !important;
  width: 3px !important;
  height: 3px !important;
  background-color: #ff2423 !important;
  border-radius: 50% !important;
  opacity: 0 !important;
}

.hover__btn2:hover::after {
  opacity: 1 !important;
}

.hover__btn2:hover::before {
  opacity: 1 !important;
}

.menu--header {
  .MuiList-root {
    background: #19181c;
    padding: 10px;
    text-align: center;
  }

  .menu--item {
    border-bottom: solid 1px #8b8b8b;
    cursor: pointer;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    background: transparent;
    &:hover {
      background: #ff2423;
    }
  }
}
