@media (min-width: 768px) {
  .hr {
    display: none;
  }
}

.titleGiftTransaction {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.01em;
  text-align: left;
}
.titleHotItem {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.01em;
}

@media (max-width: 768px) {
  .titleGiftTransaction {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .titleHotItem {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-align: left;
  }
}

.gift__item-image {
  object-fit: contain;
  border: 1px solid #fff;
  box-shadow: 0px 10px 10px 0px #00000059;
  border: 1px solid #fff;
  background: #000;
}
.gift__item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.01em;
  text-align: left;
}

.gift__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.01em;
  text-align: left;
}

.btn__transaction {
  width: 158px !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.01em;
  text-align: center;
  float: right;
}

.hot_item__ul {
  border: 1px solid #fff;
}

.hot_item__li {
  display: flex;
  align-items: center;
  background-color: #000;
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &.custom {
    justify-content: space-between;
  }
  .d-flex {
    display: flex;
    align-items: center;
  }
}

.hot_item__li:nth-child(even) {
  background-color: #252525;
}

.hot_item__image_container {
  padding: 3%;
  margin-right: 1rem;
}
.hot_item__image {
  object-fit: contain;
}

.hot_item__text_container {
  display: flex;
  flex-direction: column;
}

.hot_item__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.01em;
  text-align: left;
  &.custom {
    margin-left: 20px;
  }
}

.hot_item__value {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.01em;
  text-align: left;
}

.hot__item {
  padding: 10px 0;

  &--title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  &--value {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  &--info {
    position: absolute;
    top: 82%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: left;
    color: #fff;
  }
  &--item {
    margin: 0 10px;

    img {
      background: #000000;
      max-height: 320px;
      width: calc(100% - 0px);
      object-fit: contain;
      mix-blend-mode: color-burn;
      border: solid 1px #ccc;
      box-sizing: border-box;
    }
  }
  .slick-slide {
    padding: 0 10px;
  }
  @media (max-width: 768px) {
    padding: 0 15px;
    .slick-slide {
      padding: 0;
    }

    &--title {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: -0.01em;
      text-align: left;
    }
    &--value {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: -0.01em;
      text-align: left;
    }

    &--item {
      margin: 0;
      &::after {
        width: 43px;
        height: 43px;
      }
      img {
        max-height: 210px;
        width: auto;
        height: auto;
      }
    }

    .slick-prev,
    .slick-next {
      width: 20px;
      height: 28px;
      &::before {
        display: none;
      }
      top: calc(50% - 7px);
      background-size: contain;
      z-index: 2;
    }
    .slick-prev {
      background: url(/images/prev-xs.svg) no-repeat center !important;
      left: 16px;
    }
    .slick-next {
      background: url(/images/next-xs.svg) no-repeat center !important;
      right: 16px;
    }
  }
}
.MuiModal-root {
  .modal__giftTransaction--title {
    margin: 10px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #ff2423;
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .modal__giftTransaction--description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin: 10px 0 20px;
    &.remove-friend {
      margin: 40px 0 30px !important;
    }
  }
  .modal__gift {
    text-align: center;
    padding: 20px 15px;
    @media (max-width: 768px) {
      max-width: 375px;
      .modal__youtube--btn-close {
        right: -10px !important;
      }
    }
    @media (max-width: 375px) {
      max-width: 350px;
    }
  }
}

.MuiButtonBase-root {
  &.button--confirm {
    background: #ff2423;
    width: 156px;
    height: 50px;
    border-radius: 0 !important;
    border: 3px double #d9908f !important;
  }

  &.button--back {
    background: #8b8b8b;
    width: 156px;
    height: 50px;
    border-radius: 0 !important;
    border: 3px double #f5f5f5 !important;
    svg {
      margin-right: 10px;
    }
  }

  &.button--back:hover {
    background: #363535 !important;
  }
}
.f-right {
  float: right;
}

.custom__filter__gift {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #ff2423;
}

.custom__filter__gift--list {
  background-color: #ffffff !important;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.01em;

  color: #000000;
}

.custom__filter__gift--li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: -0.01em;

  color: #000000 !important;
  border-bottom: solid 1px #ccc;
}
