img {
    max-width: 100%;
}
.mw-440 {
    max-width: 440px;
}

.mission {

    @media (max-width: 768px) {
        .order1 {
            order: 1;
        }
        .order2 {
            order: 2;
        }
        .order3 {
            order: 3;
        }
    }
}

.tournament__item {
    background: #120000;
    &--logo {
        width: 157px;
        height: 214px;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        img {
            max-width: 110px;
        }
    }
    &--center {
        img {
            max-width: 60px;
        }
    }
    &--info {
        max-width: 400px;
    }
    a {
        color: #fff;
    }
    &:hover {
        background: linear-gradient(270deg, #B10100 0%, rgba(124, 1, 0, 0.516757) 50%, rgba(66, 0, 0, 0.2) 100%);
        .tournament__item--logo {
            background: #000;
        }
        a {
            color: #fff;
        }
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
        &--logo {
            width: 150px;
            padding: 8px;
            height: auto;
            min-height: 230px;
            img {
                margin: auto;
            }
        }
        &--center {
            max-width: 60px;
            padding: 0;
        }
        &--info {
            text-align: center;
            margin-bottom: 25px;
        }
    }
    
}

.minigame {
    background: url(/images/home/bg-minigame.svg) no-repeat center;
    background-size: cover;
    .minigame__item {
        &--logo {
            min-height: 260px;
        }
    }
}

.css__btn {
    button {
        border: solid 1px #FF2423 !important;
        background-color: transparent !important;
        color: #fff;
        position: relative;
        margin: 0 10px;
        height: 46px;
        width: 46px;
        &.w206 {
            width: 206px;
        }
        &:after{
            content: "";
            background-color: #FF2423;
            bottom:1px;
            left: 1px;
            right: 1px;
            width: calc(100% - 2px);
            height: 4px;
            position: absolute;
        }
    }
}

.video__slider {
    padding: 10px 0;
    &--item {
        position: relative;
        margin: 0 10px;
        &::after {
            position: absolute;
            content: "";
            width: 85px;
            height: 85px;
            top: 50%;
            left: 50%;
            background: url(/images/home/play.png) no-repeat center;
            transform: translate(-50%, -50%);
        }
        img {
            max-height: 435px;
            width: calc(100% - 0px);
            object-fit: contain;
            mix-blend-mode: color-burn;
            border: solid 1px #ccc;
            box-sizing: border-box;
        }
    }
    .slick-slide {
        padding: 0 10px
    }
    @media (max-width: 768px) {
        padding: 0 15px;
        .slick-slide {
            padding: 0;
        }
        &--item {
            margin: 0;
            &::after {
                width: 43px;
                height: 43px;
                background: url(/images/play.svg) no-repeat center;
            }
            img {
                max-height: 210px;
                width: auto;
                height: auto;
            }
        }

        .slick-prev, .slick-next {
            width: 20px;
            height: 28px;
            &::before {
                display: none;
            }
            top: calc(50% - 7px);
            background-size: contain;
            z-index: 2;
        }
        .slick-prev {
            background: url(/images/prev-xs.svg) no-repeat center !important;
            left: 16px;
        }
        .slick-next {
            background: url(/images/next-xs.svg) no-repeat center !important;
            right: 16px;
        }
    }
}

.banner__slider {
    padding: 0 10px;
    // max-width: 90%;
    margin: 0 auto;
    margin-top: -100px;
    &--main {
        img { 
            width: 100%;
            max-height: 1000px;
            @media (max-width: 1368px) {
                max-height: 750px;
            }
        }
    }
    &.center {
        .slick-center {
            img {
                transform: scale(1.2);
            }
        }
    }
    &--item {
        overflow: hidden;
        min-height: 336px;
        display: flex !important;
        align-items: center;
        img {
            padding: 0;
            margin: 0 auto;
            aspect-ratio: 3/2;
            object-fit: contain;
            mix-blend-mode: color-burn;
            box-sizing: border-box;
            @media (max-width: 1368px) {
                padding: 0 25px;
                max-width: 100%;
            }
        }
    }

    .slick-prev, .slick-next {
        width: 43px;
        height: 60px;
        &::before {
            display: none;
        }
        top: 30%;
        background-size: contain;
        z-index: 2;
    }
    .slick-prev {
        background: url(/images/prev.svg) no-repeat center !important;
        left: unset;
        right: -200px;
    }
    .slick-next {
        background: url(/images/next.svg) no-repeat center !important;
        right: -250px;
    }
    .slick-slide {
        padding: 0 12px;
    }

    @media (max-width: 1368px) {
        .slick-prev {
            right: 0;
        }
        .slick-next {
            right: -50px;
        }
    }
    @media (max-width: 768px) {
        margin-top: -30px;
        padding: 0;
        .slick-slide {
            padding: 0;
        }
        .slick-prev, .slick-next {
            display: none;
        }
        &--item {
            min-height: unset;
            img {
                padding: 0;
            }
        }
    }
}