$modal-width: 400px;
$modal-padding: 16px;
$modal-bgcolor: #fff;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;

  h6 {
    margin-top: 0;
  }

}
.btn__modal--close {
  width: 25px;
  height: 25px;
  position: absolute;
  right: -25px;
  top: -15px;
  cursor: pointer;
  color: white
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__youtube {
  iframe {
    position: relative;
    z-index: 2;
  }
  &--btn-close {
    position: absolute;
    top: -28px;
    right: -10px;
    cursor: pointer;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}