.mainBG {
  background-image: url('/images/bgFumeli.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// .custom__slider {
//   // width: 125px !important;
//   // width: 83%;
//   height: 50%;
// }

// .custom__slide {
//   width: 100% !important;
//   height: 300px !important;
// }
