label.Mui-focused {
  color: #fff !important;
}

.MuiInput-underline:after {
  border-bottom-color: #fff !important;
}

.MuiOutlinedInput-root {
  & fieldset {
    border-color: #fff !important;
  }

  &:hover fieldset {
    border-color: #fff !important;
  }

  &.Mui-focused fieldset {
    border-color: #fff !important;
  }
}

.MuiFormLabel-root {
  color: #fff !important;
}

.MuiInputBase-root {
  background-color: #0f0f0f !important;
}

.MuiInputBase-input {
  color: #fff !important;
  background-color: #0f0f0f !important;
}

.headerContact {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.01em;
  color: #fff !important;
}

.colorWhite {
  color: #fff !important;
}

.iconItem {
  font-size: 19px;
}

.iconContact {
  font-size: 36px;
}

.btnSend {
  background-color: #ff2423 !important;
  width: 200px;
  height: 40px;
  border-radius: 0 !important;
  border: 3px double #d9908f !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #be1e1e !important;
}

.contact__info{
  &--description{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.01em;

color: #FFFFFF;
  }
}